<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/se2-logo.png" alt="Company logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Menu</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Home</a>
    <a mat-list-item routerLink="/resource-display" routerLinkActive="list-item-active"><mat-icon>star_rate</mat-icon>Resources</a>
    <a mat-list-item routerLink="/courses" routerLinkActive="list-item-active"><mat-icon>star_rate</mat-icon>Courses</a>
</mat-nav-list>
